/* Intro section alignment */
.gmca-intro {
  max-width: 700px;
  margin: 0 auto 3rem;
  padding-left: 0.5rem;
}

.gmca-intro h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #0b0c0c;
  margin-bottom: 0.5rem;
  text-align: left;
}

.gmca-intro h3 {
  font-size: 1.25rem;
  color: #3B6E83;
  margin-bottom: 1rem;
  text-align: left;
}

.gmca-intro p {
  font-size: 1.05rem;
  line-height: 1.6;
  text-align: left;
  color: #0b0c0c;
}
